---
---

@import "{{ site.theme }}";

.card-title {
	color: black !important;
	font-weight: 300;
}

.card-text {
	color: black !important;
	font-weight: normal;
}

.card-columns {
	margin-top: -30px;
}

.card {
	display: inline-block;
}

@media screen and (max-width: 600px) {
	.card {
		margin-top: 20px;
	}
}

@media screen and (max-width: 425px) {
	.card-columns {
		column-count: 1;
	}

	.card {
		width: 100%;
	}
}

@media screen and (min-width: 425px) and (max-width: 600px) {
	.card-columns {
		column-count: 2;
		-moz-column-count: 2;
	}

	.card {
		width: 100%;
	}
}

.project-text {
	margin-top: -8px;
}

#header a:hover {
	background-color: green !important;
	text-decoration: none !important;
}
