---
---

@import "{{ site.theme }}";

.card-title {
	color: black !important;
	font-weight: 300;
}

.card-text {
	color: black !important;
	font-weight: normal;
}

.card-columns {
	margin-top: -30px;
}

.card {
	display: inline-block;
}

@media screen and (max-width: 600px) {
	.card {
		margin-top: 20px;
	}
}

@media screen and (max-width: 425px) {
	.card-columns {
		column-count: 1;
	}

	.card {
		width: 100%;
	}
}

@media screen and (min-width: 425px) and (max-width: 600px) {
	.card-columns {
		column-count: 2;
		-moz-column-count: 2;
	}

	.card {
		width: 100%;
	}
}

.project-text {
	margin-top: -8px;
}

#header a:hover {
	background-color: green !important;
	text-decoration: none !important;
}

.top-right-icon {
	display: inline-block;
	margin: 0px 10px 10px;
	cursor: pointer;
	transition: opacity 0.25s ease-in-out 0.15s;
	opacity: 0;
}

.top-right-transition {
	transition: opacity 0.15s ease-in-out 0s;
}

.top-right-icon:hover {
	opacity: 0.7;
}

.top-right-fade {
	opacity: 0.45;
}

.top-right-image {
	height: 50px;
	width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
}

.jumbotron-top-right {
	position: absolute;
	top: 18px;
	right: 15px;
	z-index: 10001;
}
