---
---

@import "{{ site.theme }}";

.card-title {
	color: black !important;
	font-weight: 300;
}

.card-text {
	color: black !important;
	font-weight: normal;
}

.card-columns {
	margin-top: -30px;
}

@media screen and (min-width: 300px) and (max-width: 575px) {
	.card-columns {
		column-count: 2;
	}
}

@media screen and (max-width: 300px) {
	.card-columns {
		column-count: 1;
	}
}

.project-text {
	margin-top: -8px;
}