<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="author" content="Sumer Kohli" />
{%- seo -%}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <script src="https://use.fontawesome.com/d4fa3b1e5a.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body style="background: linear-gradient(to right, #243B55, #141E30) !important;">
    <div class="jumbotron-top-right">
      <div class="top-right-icon"><a target="_blank" href="https://github.com/firebolt55439"><div class="top-right-image" data-img="assets/img/github.svg"></div></a></div>
      <div class="top-right-icon"><a target="_blank" href="https://linkedin.com/in/sumerkohli"><div class="top-right-image" data-img="assets/img/linkedin.svg"></div></a></div>
      <div class="top-right-icon"><a target="_self" href="mailto:sumer.kohli@berkeley.edu"><div class="top-right-image" data-img="assets/img/email.svg"></div></a></div>
      <br />
      <div style="text-align: right;">
        <div class="top-right-icon"><a target="_self" href="/assets/Resume.pdf"><div class="top-right-image" data-img="assets/img/resume.svg"></div></a></div>
      </div>
    </div>
    <div class="wrapper">
      <section>
        <div id="title" style="text-align: center;">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          {%- for repository in site.github.public_repositories -%}
            {%- if repository.name == site.github.project_title -%}
              <p class="project-text">{{repository.pushed_at}}</p>
            {%- endif -%}
          {%- endfor -%}
          <hr>
        </div>
        {%- assign pretty_names = "Airplay Hangman|Diep.io Protocol|PHP Battleship|Battleboat Online|Fanfiction Downloader|SCE Chess|CloudyTabs|Account Page|JS Subworkers|Heroku CORS Proxy|GoMovies!|SVM|libairplay|Hare Compiler|iOS Hangman|iOS Fanfiction Viewer|Symbolic Differentiator|Maze Generator|Audiocatcher|Trivia Oracle" | split: "|" -%}
        {%- assign custom_urls = "|||||||||(hide)|||||||https://symbolic-differentiator.firebaseapp.com|||" | split: "|" -%}
        {%- assign orig_names = "airplay-hangman|Diep.io-Protocol|PHP-Battleship|battleboat-online|fanfic-downloader|sce-chess|CloudyTabs|firebolt55439.github.io|Subworkers|cors-proxy-heroku|gomovies|svm|libairplay|language-compiler|ios-hangman|ios-fanfiction-viewer|symbolic-differentiator|maze-generator|audiocatcher|trivia-oracle" | split: "|" -%}
        <div class="card-columns">
          {%- for repository in site.github.public_repositories -%}
            {%- assign repo_name = repository.name -%}
            {%- assign repo_url = "" -%}
            {%- if repository.has_pages -%}
              {%- assign repo_url = '/' | append: repository.name | relative_url -%}
            {%- endif -%}
            {%- assign idx = 0 -%}
            {%- for orig_name in orig_names -%}
              {%- if repository.name == orig_names[idx] -%}
                {%- assign repo_name = pretty_names[idx] -%}
                {%- if custom_urls[idx] and custom_urls[idx] != "" -%}
                  {%- assign repo_url = custom_urls[idx] -%}
                {%- endif -%}
                {%- break -%}
              {%- endif -%}
              {%- assign idx = idx | plus: 1 -%}
            {%- endfor -%}
            {%- if repository.fork or repo_url == "(hide)" -%}
              {%- continue -%}
            {%- endif -%}
            <div class="card">
              <div class="card-block">
                {%- if repo_url != "" -%}
                  <h4 class="card-title"><a target="_blank" href={{repo_url}}>{{repo_name}}</a></b></h4>
                {%- else -%}
                  <h4 class="card-title"><b>{{repo_name}}{% if repository.fork %} <small>(fork)</small>{% endif %}</b></h4>
                {%- endif -%}
                <p class="card-text">{{repository.description}}</p>
                <a href={{repository.html_url}} class="btn btn-primary" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> View Github</a>
              </div>
              <div class="card-footer">
                <small class="text-muted date-text">{{repository.pushed_at}}</small>
              </div>
            </div>
          {%- endfor -%}
        </div>
      </section>
    </div>

    {%- if site.google_analytics -%}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {%- endif -%}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script>
    $(function() {
      $('.date-text').each(function() {
        $(this).html("<i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i> Updated " + moment.utc($(this).text().split(' UTC')[0]).fromNow());
      });
      $('.project-text').each(function() {
        $(this).text("Last updated " + moment.utc($(this).text().split(' UTC')[0]).fromNow() + ".");
      });
    });
    $('.top-right-image').each(function() {
      $(this).css('-webkit-mask', `url("${$(this).data("img")}") no-repeat 50% 50%`);
      $(this).css("background-color", 'white');
    });
    $('.top-right-icon').each(function(index, el) {
      setTimeout(function() {
        $(el).addClass('top-right-fade');
        setTimeout(function() {
          $(el).addClass('top-right-transition');
        }, 300);
      }, (index * 350));
    });
  </script>
  </body>
</html>
